html {
    box-sizing: border-box;

}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/money.jpg");
    background-size: cover;
    background-position: center;

}

.container {
    background-color: rgb(255, 255, 255);
    flex-basis: 700px;
    margin: 20px;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: 0 0 30px black;
}


.form {
    padding: 10px;
    display: block;

}

.form__header {
    color: teal;
    text-align: center;

}

.form__labelText {
    display: inline-block;
    padding: 15px;
    width: 100%;
    max-width: 200px;
    margin-right: 5px;

}

.form__field {
    display: inline-block;
    border: 1px solid rgb(202, 198, 198);
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    width: 100%;
    
}

.form__button {
    background-color: teal;
    color: white;
    border: 1px solid teal;
    border-radius: 5px;
    width: 100%;
    font-weight: 700;
    padding: 15px 0;

}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
   
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
   
}

.form__info {
    color: rgb(148, 145, 145);
    font-size: smaller;
    text-align: center;
}

.form__result {
    text-align: center;
    color: teal;
    font-size: larger;
   
}